@import "../../styles/variables.css";

.paragraph {
    color: var(--dark-gray);
    font-family: Inter;
    font-size: 15px;
    line-height: 24px;  
    text-transform: capitalize;
}
.paragraphCenter{
    text-align: center;
}