@import '../../styles/variables.css';

.socialLink{
    display: flex;
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
}
.socialLink a{
    width: 25px;
    height: 25px;
    display: flex;
    background-color: var(--yellow );
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
        background-color: var(--color-gray);
    }
}