@import "../../../styles/variables.css";

.workCard{
    display: grid;
    grid-template-columns: 35% auto;
}
.siteName{
    color: var(--black);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;  
    text-transform: capitalize;
}
.grade{
    color: var(--Black, #2B2B2B); 
    font-family: Inter;
    font-size: 15px; 
    line-height: 24px;  
    text-transform: capitalize;
}
.data{
    color: var(--white);
    font-family: Inter;
    font-size: 10px;
    line-height: 100.9%;
    width: 111px;
    height: 18px;
    border-radius: 1px;
    background: var(--yellow);
    display: grid;
    align-items: center;
    justify-content: center;
}
.work{
    color: var(--black);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
    text-transform: capitalize;
}
.workHistory{
    color: var(--dark-gray);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-transform: capitalize;
}